* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bricolage Grotesque', sans-serif;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
}

.heading-text {
	font-size: 60px;
	line-height: 60px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

p {
	color: #111827;
	font-weight: 400;
	font-size: 17px;
}

.sec-padding {
	padding: 100px 30px;
}

.heading-intro-cont .heading-text {
	margin-bottom: 25px;
}

/*============Main Header Css Start Here============*/

.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	background-color: #fff;
	flex-wrap: wrap;
	position: relative;
}

/* Logo + Toggle (inline) */
.header-left {
	display: flex;
	align-items: center;
	gap: 20px;
}

/* Navigation (desktop) */
.header-center {
	display: flex;
	gap: 30px;
	justify-content: center;
	flex: 2;
}

.header-center a,
.mobile-menu a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	font-size: 18px;
	position: relative;
}

.header-center a.active {
	color: #336DFE;
}

.header-center a.active::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #FC3535;
	border-radius: 2px;
}

/* Contact info (desktop) */
.header-right {
	margin-right: 25px;
}

.contact-box {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contact-icon {
	width: 30px;
	height: auto;
}

.contact-links {
	display: flex;
	flex-direction: column;
}

.contact-links a {
	color: #0035BC;
	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
}

.contact-links a:hover {
	text-decoration: underline;
}

/* Toggle */
.menu-toggle {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 24px;
	height: 18px;
	cursor: pointer;
}

.menu-toggle span {
	display: block;
	height: 3px;
	width: 100%;
	background-color: #000;
	border-radius: 2px;
	transition: all 0.3s ease;
}

.menu-toggle.open span:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
	opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile menu content */
.mobile-menu {
	display: none;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
	width: 100%;
}

.mobile-menu.show {
	display: flex;
	background-color: #EBECFF;
	padding: 15px;
}

.mobile-menu nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mobile-menu .contact-box {
	margin-top: 10px;
}

.mobile-menu nav a {
	padding: 0px 0px 10px;
	border-bottom: 1px solid #cccccc;
}


/*============Hero Section Css Start Here============*/
.hero {
	background-color: #336DFE;
	color: white;
	padding: 47px 15px 42px;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	margin: 0px 30px;

}

.hero .badges {
	display: flex;
	flex-direction: column;
	gap: 21.52px;
	position: absolute;
	top: 15px;
}

.hero .badges img {
	width: 160.24px;
	height: auto;
	border-radius: 50%;
}

.hero .badges img:nth-child(2) {
	width: 177px;
}

.hero .hero-content {
	flex: 1 1 300px;
	text-align: center;
}

.hero .hero-content h1 {

	margin-bottom: 101px;

}

.hero .trusted {
	background: #111827;
	padding: 9px 16px;
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 0 auto 149px;
	width: 265px;
	min-height: 53px;
	border-radius: 9999px;


}

.hero .rating-star {
	padding-right: 8px;
}

.hero .hero-buttons {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

.btn,
.btn-outline {
	padding: 17px 40px;
	font-size: 16px;
	border-radius: 100px;
	cursor: pointer;
	font-weight: 700;
	white-space: nowrap;
}

.btn {
	background: #fff;
	color: #111827;
	border: none;
}


.btn-outline {
	background: transparent;
	color: #fff;
	border: 1px solid #E5E7EB;
	display: flex;
	align-items: center;
}

.btn-outline svg {
	margin-right: 9px;
}

.hero .hero-images {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.hero .hero-images img {

	position: absolute;

}

.hero .phone-img {
	left: 55px;
	bottom: 0;
}

.hero .laptop-img {
	width: 313px;
	right: 17px;
	bottom: 19px;
}


/*============Who We Are Section Css Start Here============*/
.who-we-are .heading-intro-cont {
	display: grid;
	gap: 30px;
	grid-template-columns: 2fr 4fr;
	margin-bottom: 30px;
}

/*============Card Section Css Start Here============*/
.card-cont {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 30px;
}

.card {
	background: #F6F6F6;
	border-radius: 20px;
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
	padding: 30px;
}

.card:hover {
	transform: translateY(-8px);
}

.card img {
	width: 70px;
	transition: transform 0.3s ease;
	border-radius: 50%;
	padding: 10px;
	background-color: #DCEAF4;
	margin-bottom: 25px;
}

.card:nth-child(2) img {
	background-color: #FBE4DE;
}

.card:nth-child(3) img {
	background-color: #DBFBE3;
}

.card:hover img {
	transform: scale(1.05);
}

.card h3 {
	font-size: 20px;
	color: #111827;
	margin-bottom: 10px;
}

/*============What We Do Section Css Start Here============*/

.what-we-do {
	padding: 0px 30px;
}

.what-we-do .business-team-img {
	padding-top: 55px;
	width: 100%;
}

.what-we-do .what-we-do-cont {
	display: grid;
	gap: 30px;
	grid-template-columns: 3fr 7fr;
}

.what-we-do li {
	list-style-type: none;
}
.what-we-do li a{
	display: flex;
	justify-content: space-between;
	background-color: #DBFBE3;
	padding: 20px;
	margin-bottom: 19px;
	border-radius: 20px;
	font-weight: 500;
	color: #00373E;
	align-items: center;
	text-decoration:none;
}

.what-we-do li img {
	width: 25px;
	background-color: #F6F6F6;
	border-radius: 20px;
	padding: 5px;
}

/*============Why choose us Section Css Start Here============*/


.why-choose-us .card:nth-child(1) {
	background: #FFEDED;
}

.why-choose-us .card:nth-child(2) {
	background: #DBFBE3;
}

.why-choose-us .card:nth-child(3) {
	background: #EBECFF;
}

.why-choose-us .card img {
	background-color: #ffffff;
}

.why-choose-us .heading-intro-cont {
	margin-bottom: 35px;
}

/* Responsive Styles */
@media (max-width:1280px) {
	.hero .badges img {
		width: 100px;
	}

	.hero .badges img:nth-child(2) {
		width: 124px;
	}

	.hero .phone-img {
		left: 10px;
		width: 380px;
	}

	.hero .hero-buttons {
		gap: 11px;
	}

	.btn,
	.btn-outline {
		padding: 13px 20px;
		font-size: 14px;
	}
}

@media (max-width:1200px) {
	.header-left img {
		width: 180px;
	}

	.header-center,
	.header-right {
		display: none;
	}

	.menu-toggle {
		display: flex;
		margin-right: 25px;
	}

	.main-header {
		flex-direction: column;
		align-items: flex-start;
		padding: 2px;
	}

	.header-left {
		width: 100%;
		justify-content: space-between;
	}
}

@media (max-width:991px) {
	.heading-text {
		font-size: 50px;
		line-height: 51px;
	}

	.hero {
		flex-direction: column;
		padding: 47px 15px 0px;

	}


	.hero .badges {
		display: flex;
		flex-direction: row;
		position: inherit;
		top: 0;
	}

	.hero .hero-images {
		display: flex;
		flex-direction: row;
	}

	.hero .hero-content h1 {
		margin-bottom: 50px;
	}

	.hero .laptop-img {
		width: 23%;
		bottom: 13px;
	}

	.hero .phone-img {
		width: 28%;
	}
}

@media (max-width:767px) {
	.sec-padding {
		padding: 55px 30px;
	}

	.heading-text {
		font-size: 35px;
		line-height: 37px;
	}

	.hero .trusted {
		margin: 0 auto 30px;
	}

	.hero .hero-images img {
		position: inherit;
	}

	.hero .hero-images {
		justify-content: center;
	}

	.hero .phone-img {
		width: 29%;
	}

	.btn,
	.btn-outline {
		padding: 10px 19px;
	}

	.who-we-are .heading-intro-cont,
	.card-cont,
	.what-we-do .what-we-do-cont {
		display: inherit;
	}

	.card {
		margin-bottom: 40px;
		padding: 15px;
	}

	.card:last-child {
		margin-bottom: 0px;
	}

	.heading-intro-cont .heading-text {
		margin-bottom: 15px;
	}

	.what-we-do .business-team-img {
		margin-bottom: 40px;
	}
}
