* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bricolage Grotesque', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.container {
	max-width: 1320px;
	margin: 0 auto;
}

.heading-text {
	font-size: 60px;
	line-height: 60px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

h2.heading-text {
	font-size: 50px;
}

p {
	color: #111827;
	font-weight: 400;
	font-size: 17px;
}

.sec-padding,
.career-what-we-do.sec-padding {
	padding: 100px 30px;
}

.career-why-join-us.sec-padding,
.our-capabilities.sec-padding {
	padding: 0px 30px;
}

.heading-intro-cont .heading-text {
	margin-bottom: 25px;
}

.heading-info {
	background-color: #F6F6F6;
	padding: 28px 61px;
	border-radius: 40px;
}

.heading-info p,
.card-wrap p,
.card-wrap li {
	margin-bottom: 20px;
}

.heading-info p:last-child,
.card-wrap p:last-child,
.card-wrap li:last-child {
	margin-bottom: 0px;
}

/*============Main Header Css Start Here============*/
.main-header {
	margin: 0px 30px;
}

.main-header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0px;
	background-color: #fff;
	flex-wrap: wrap;
	position: relative;
	max-width: 1320px;
	margin: 0 auto;
}

/* Logo + Toggle (inline) */
.header-left {
	display: flex;
	align-items: center;
	gap: 20px;
}

/* Navigation (desktop) */
.header-center {
	display: flex;
	gap: 30px;
	justify-content: center;
	flex: 2;
}

.header-center a,
.mobile-menu a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	font-size: 18px;
	position: relative;
}

.header-center a.active {
	color: #336DFE;
}

.header-center a.active::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #FC3535;
	border-radius: 2px;
}

nav.header-center a {
	border-bottom: 3px solid transparent;
}

nav.header-center a:hover,
nav.header-center a:active {
	border-bottom: 3px solid #FC3535;
}

/* Contact info (desktop) */
.header-right {
	margin-right: 25px;
}

.contact-box {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contact-icon {
	width: 30px;
	height: auto;
}

.contact-links {
	display: flex;
	flex-direction: column;
}

.contact-links a {
	color: #0035BC;
	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
}

.contact-links a:hover {
	text-decoration: underline;
}

/* Toggle */
.menu-toggle {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 24px;
	height: 18px;
	cursor: pointer;
}

.menu-toggle span {
	display: block;
	height: 3px;
	width: 100%;
	background-color: #000;
	border-radius: 2px;
	transition: all 0.3s ease;
}

.menu-toggle.open span:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
	opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile menu content */
.mobile-menu {
	display: none;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
	width: 100%;
}

.mobile-menu.show {
	display: flex;
	background-color: #EBECFF;
	padding: 15px;
}

.mobile-menu nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mobile-menu .contact-box {
	margin-top: 10px;
}

.mobile-menu nav a {
	padding: 0px 0px 10px;
	border-bottom: 1px solid #cccccc;
}


/*============Hero Section Css Start Here============*/
.hero {
	margin: 0px 30px;

}

.hero-wrapper {
	background-color: #336DFE;
	color: #ffffff;
	padding: 47px 15px 42px;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	max-width: 1320px;
	margin: 0 auto;

}


.hero .badges {
	display: flex;
	flex-direction: column;
	gap: 21.52px;
	position: absolute;
	top: 15px;
}

.hero .badges img {
	width: 160.24px;
	height: auto;
	border-radius: 50%;
}

.hero .badges img:nth-child(2) {
	width: 177px;
}

.hero .hero-content {
	flex: 1 1 300px;
	text-align: center;
}

.hero .hero-content h1 {

	margin-bottom: 101px;

}

.hero .trusted {
	background: #111827;
	padding: 9px 16px;
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 0 auto 149px;
	max-width: 265px;
	min-height: 53px;
	border-radius: 9999px;


}

.hero .rating-star {
	padding-right: 8px;
}

.hero .hero-buttons {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

.hero .btn:hover {
	background-color: #336DFE;
	background: transparent;
	color: #fff;
	border: 1px solid #E5E7EB;
}

.hero .btn-outline:hover {
	background: #fff;
	color: #111827;
	border: none;
}

.hero .btn-outline .play-icon {
	fill: #ffffff;
}

.hero .btn-outline:hover .play-icon {
	fill: #111827;
}

.btn,
.btn-outline {
	padding: 17px 40px;
	font-size: 16px;
	border-radius: 100px;
	cursor: pointer;
	font-weight: 700;
	white-space: nowrap;
	transition: all 0.3s ease;
}

.btn {
	background: #fff;
	color: #111827;
	border: none;
}


.btn-outline {
	background: transparent;
	color: #fff;
	border: 1px solid #E5E7EB;
	display: flex;
	align-items: center;
}

.btn-outline svg {
	margin-right: 9px;
}

.hero .hero-images {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.hero .hero-images img {

	position: absolute;

}

.hero .phone-img {
	left: 55px;
	bottom: 0;
}

.hero .laptop-img {
	width: 313px;
	right: 17px;
	bottom: 19px;
}


/*============Who We Are Section Css Start Here============*/
.who-we-are .heading-intro-cont {
	margin-bottom: 30px;
}


/*============Card Section Css Start Here============*/
.card-cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}


.card {
	border-radius: 20px;
	overflow: hidden;
	padding: 30px;
	background-color: #F6F6F6;
	flex: 1 1 280px;
	max-width: 400px;
}


.card img {
	width: 55px;
	border-radius: 50%;
	padding: 10px;
	margin-bottom: 25px;
}


.card h3 {
	font-size: 20px;
	color: #111827;
	margin-bottom: 10px;
}

.card img {
	background-color: #ffffff;
}

/*============What We Do Section Css Start Here============*/

.what-we-do {
	padding: 0px 30px;
}

.what-we-do .business-team-img {
	padding-top: 55px;
	width: 100%;
}

.what-we-do .what-we-do-cont {
	display: grid;
	gap: 30px;
	grid-template-columns: 3fr 7fr;
	background-color: #F7F6F4;
	padding: 50px;
}

.what-we-do li {
	list-style-type: none;
}

.what-we-do li a {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 19px;
	border-radius: 20px;
	font-weight: 500;
	color: #00373E;
	align-items: center;
	text-decoration: none;
	transition: transform 0.3s ease;
}

.what-we-do li:last-child a {
	margin-bottom: 0px;
}

.what-we-do li:hover a {
	transform: translateY(-3px);
}

.what-we-do li img {
	width: 25px;
	background-color: #F6F6F6;
	border-radius: 20px;
	padding: 5px;
}

/*============Why choose us Section Css Start Here============*/


.why-choose-us .card:nth-child(1),
.career-why-join-us .card:nth-child(1) {
	background: #FFEDED;
}

.why-choose-us .card:nth-child(2),
.career-why-join-us .card:nth-child(2) {
	background: #DBFBE3;
}

.why-choose-us .card:nth-child(3),
.career-why-join-us.card:nth-child(3) {
	background: #EBECFF;
}

.why-choose-us .heading-intro-cont,
.career-why-join-us .heading-intro-cont {
	margin-bottom: 35px;
}


/*============A11y Section Css Start Here============*/
.a11y-section {
	padding: 0px 30px 100px;
}

.a11y-section .a11y-wrapper {
	margin: auto;
	background: #ffffff;
	border-radius: 20px;

	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.a11y-section .a11y-left,
.a11y-section .a11y-right {
	flex: 1 1 50%;
	padding: 50px;
}

.a11y-section img.a11y508-logo {
	margin-bottom: 30px;
	width: 100%;
	max-width: 300px;
}

.a11y-section .a11y-left {
	background-color: #EEF8FF;
	color: #ffffff;
}

.a11y-section .a11y-left h2 {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 20px;
}

.a11y-section .a11y-left h2 span {
	color: #00d3b7;
}

.a11y-section .a11y-left .amp {
	font-family: Georgia, serif;
	font-size: 1.5rem;
	vertical-align: middle;
	margin: 0 4px;
}

.a11y-section .a11y-left p {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 30px;
}

.a11y-section .a11y-btn {
	background-color: #336DFE;
	color: #fff;
	padding: 11px 51px;
	text-decoration: none;
	display: inline-block;
}

.a11y-section .a11y-right {
	background-color: #f9fbfe;
	color: #001f3f;
}

.a11y-section .a11y-right h2 {
	margin-bottom: 15px;
}

.a11y-section .a11y-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.a11y-section .a11y-right li {
	padding: 10px 0;
	border-bottom: 1px solid #e2e8f0;
	position: relative;
	padding-left: 33px;
}

.a11y-section .a11y-right li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}

.a11y-section .a11y-btn:hover {
	background-color: #1946b7;
}

.a11y-section .a11y-right li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 11px;
	background-image: url('images/pointing-right-hand.svg');
	width: 100%;
	height: 100%;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 22px;
}

/*============What We Do Page Css Start Here============*/
/*============Hero Section Css Start Here============*/
.what-we-do-banner.hero-wrapper {
	background-color: #4733FE;
}

.architecture-cont {
	background: #e9f4fd;
}

.bpm-cont {
	background-color: #FBE4DE;
}

.emerging-tech-cont {
	background-color: #DFF1E6;
}

.epm-cont {
	background-color: #E9E4F6;
}

.esm-cont {
	background-color: #FFF7E6;
}

.ada-cont {
	background-color: #DDF5F5;
}

.ai-data-cont {
	background-color: #FBEBFF;
}

.card-wrap {
	padding: 50px;
	margin-bottom: 100px;
}

.card-cont-wrap {
	display: flex;
	gap: 30px;
	align-items: center;
}

.card-wrap h3 {
	font-size: 38px;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
	font-weight: 500;
}

.card-cont-wrap ul {
	padding-left: 17px;
	padding-top: 20px;
}


/*============Career page Css Start Here============*/
/*============Hero Section Css Start Here============*/
.hero .career-banner {
	background-color: #EF8F4B;
}

.hero .career-banner .btn-outline .play-icon,
.hero.contactus-banner .btn-outline .play-icon {
	fill: #000000;
}

.career-banner .btn-outline,
.career-banner .heading-text,
.contactus-banner .btn-outline,
.contactus-banner .heading-text {
	color: #000000;
}

/*============Why Join Us Section Css Start Here============*/


.benefits-we-offer .benefits-we-offer-cont {
	background-color: #F6F6F6;
	padding: 50px;
}


.benefits-we-offer-p {
	margin-bottom: 15px;
}

.benefits-we-offer .heading-intro-cont p {
	line-height: normal;
}

.benefits-we-offer .btn {
	border: 1px solid #5C5C5C;
}

.benefits-we-offer .hero-buttons {
	display: flex;
	gap: 10px;

}

.benefits-we-offer .email-btn {
	display: flex;
	align-items: center;
	gap: 10px;
}

.benefits-we-offer .contact-icon {
	width: 20px;
}

.benefits-we-offer ul {
	list-style-type: none;
	margin-bottom: 25px;
}

.benefits-we-offer li {
	padding: 10px 0;
	position: relative;
	padding-left: 29px;
}

.benefits-we-offer li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 15px;
	background-image: url(images/check-icon.svg);
	width: 100%;
	height: 100%;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 17px;
}

.benefits-we-offer .btn:hover {
	background-color: transparent;
}

.what-we-do-banner.hero-wrapper {
	background-color: #4733FE;
}

/*============Contact Us Page Css Start Here============*/
.hero.contactus-banner .hero-wrapper {
	background-color: #4BCBEF;
}

.contact-info .card-cont {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.contact-info .card-cont .card {
	max-width: 100%;
}

.contact-info h2,
.contact-info h4 {
	margin-bottom: 15px;
}

.contact-info p {
	margin-bottom: 30px;
}

.contact-info p:last-child {
	margin-bottom: 0px;
}

.contact-info .card-content ul {
	list-style-type: none;
}

.contact-info .card-content ul img {
	width: 17px;
	border-radius: 0px;
	padding: 0px;
	margin-bottom: 0px;
	margin-right: 7px;
	background-color: transparent;
}

.contact-info .card-content ul li {
	margin-bottom: 8px;
}

.contact-info .card-content ul li:last-child {
	margin-bottom: 0px;
}

.contact-info .card-content ul li a {
	display: flex;
	align-items: center;
	color: #0035BC;
	text-decoration: none;
}

.contact-info .card-content ul li:hover a {
	text-decoration: underline;
}

/*============Footer Section Css Start Here============*/
.footer {
	margin: 0px 30px;
}

.footer .footer-cont {
	background-color: #111827;
	width: 100%;
	border-radius: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 47px 68px 36px 47px;
}

.footer .footer-section {
	flex: 1 1 200px;
	margin: 20px;
}

.footer .footer-section:nth-child(3) {
	flex: 0 0 130px;
}

.footer .footer-section h4 {
	font-size: 16px;
	margin-bottom: 28px;
	font-weight: 700;
	line-height: 16px;
	color: #ffffff;
}

.footer .footer-section ul {
	list-style: none;
}


.footer .logo-section img {
	width: 265px;
	margin-bottom: 10px;
}

.footer .logo-section p,
.footer .footer-section ul li,
.footer .footer-section li a {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 60px;
	font-weight: 500;
	color: #ffffff;
	margin-bottom: 14px;
	text-decoration: none;
}

.footer .logo-section p {
	margin-bottom: 60px;
}

.footer .footer-section ul li:hover a {
	text-decoration: underline;
}

.footer .footer-section li a {
	line-height: 16px;
}

.footer .social-icons a img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.footer .footer-section.contact p {
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 34px;
	letter-spacing: 0.5px;
	color: #ffffff;
}

.footer .logo-section p,
.footer .social-icons {
	margin-left: 39px;
}

.footer .footer-bottom {
	border-top: 1px solid #2d3748;
	margin-top: 3px;
	text-align: center;
	padding-top: 33px;
	font-size: 14px;
	color: #a0aec0;
	width: 100%;

}

.footer .footer-bottom p {
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #6B7280;
}

.footer .social-icons {
	display: none;
}

/* Responsive Styles */
@media (max-width:1280px) {
	.hero .badges img {
		width: 100px;
	}

	.hero .badges img:nth-child(2) {
		width: 124px;
	}

	.hero .phone-img {
		left: 10px;
		width: 380px;
	}

	.hero .hero-buttons {
		gap: 11px;
	}

	.btn,
	.btn-outline {
		padding: 13px 20px;
		font-size: 14px;
	}
}

@media (max-width:1200px) {
	.header-left img {
		width: 180px;
	}

	.header-center,
	.header-right {
		display: none;
	}

	.menu-toggle {
		display: flex;
		margin-right: 25px;
	}

	.main-header-wrapper {
		flex-direction: column;
		align-items: flex-start;
		padding: 2px;
	}

	.header-left {
		width: 100%;
		justify-content: space-between;
	}

	.footer .footer-cont {
		padding: 27px 20px 36px 20px;
	}

	.footer .footer-section {
		margin: 0px 0px 30px;
	}

	.footer .footer-section h4 {
		margin-bottom: 15px;
	}
}

@media (max-width:991px) {
	.heading-text {
		font-size: 45px;
		line-height: 51px;
	}

	h2.heading-text {
		font-size: 40px;
		line-height: 51px;
	}

	.hero-wrapper {
		flex-direction: column;
		padding: 47px 15px 0px;

	}


	.hero .badges {
		display: flex;
		flex-direction: row;
		position: inherit;
		top: 0;
		margin-right: -8px;
	}

	.hero .hero-images {
		display: flex;
		flex-direction: row;
	}

	.hero .hero-content h1 {
		margin-bottom: 50px;
	}

	.hero .laptop-img {
		width: 23%;
		bottom: 13px;
	}

	.hero .phone-img {
		width: 28%;
	}

	.what-we-do .business-team-img {
		padding-top: 20px;
	}

	.footer .footer-section,
	.footer .footer-section:nth-child(3) {
		flex: 0 0 100%;
	}

	.footer .logo-section p br {
		display: none;
	}

	.footer .logo-section p,
	.footer .social-icons {
		margin-left: 0px;
	}

	.footer .logo-section p {
		margin-bottom: 15px;
	}

	.footer .logo-section img.footer-logo {
		margin-left: -11px;
	}
}

@media (max-width:767px) {
	.hero .hero-images img {
		position: inherit;
	}

	.hero .trusted {
		margin: 0 auto 30px;
	}

	.hero .hero-images {
		justify-content: center;
	}

	.sec-padding,
	.career-what-we-do.sec-padding {
		padding: 55px 30px;
	}

	.heading-text {
		font-size: 36px;
		line-height: 37px;
	}

	.heading-info {
		padding: 20px;
		border-radius: 25px;
	}

	h2.heading-text {
		font-size: 33px;
		line-height: 37px;
	}

	.hero .trusted {
		margin: 0 auto 30px;
	}


	.hero .hero-images {
		justify-content: center;
	}

	.hero .phone-img {
		width: 29%;
	}

	.hero .badges img {
		width: 85px;
	}

	.hero .badges img:nth-child(2) {
		width: 102px;
	}

	.btn,
	.btn-outline {
		padding: 10px 19px;
	}

	.hero .hero-images img,
	.who-we-are .heading-intro-cont,
	.card-cont,
	.what-we-do .what-we-do-cont,
	.benefits-we-offer .heading-intro-cont {
		display: inherit;
	}

	.card {
		margin-bottom: 40px;
		padding: 15px;
		max-width: 100%;
	}

	.card:last-child {
		margin-bottom: 0px;
	}

	.heading-intro-cont .heading-text {
		margin-bottom: 15px;
	}

	.what-we-do .what-we-do-cont {
		padding: 20px;
	}

	.what-we-do .heading-intro-cont {
		display: flex;
		flex-direction: column;
	}

	.what-we-do .business-team-img {
		max-width: 300px;
		margin: 0 auto 40px;
	}

	.benefits-we-offer .benefits-we-offer-cont {
		padding: 20px;
	}

	.benefits-we-offer .hero-buttons {
		display: inherit;
	}

	.benefits-we-offer .hero-buttons button.btn:nth-child(1) {
		margin-bottom: 10px;
	}

	.a11y-section .a11y-wrapper {
		flex-direction: column;
	}

	.a11y-section .a11y-left,
	.a11y-section .a11y-right {
		padding: 30px 20px;
	}

	.a11y-section {
		padding: 0px 30px 55px;
	}

	.benefits-we-offer-p {
		margin-bottom: 15px;
	}

	.contact-info .card-cont {
		display: inherit;
	}

	.card-wrap {
		margin-bottom: 55px;
	}

	.card-wrap .card-cont-wrap {
		flex-direction: column;
	}

	.card-wrap .card-cont-wrap.reverse {
		flex-direction: column-reverse;
	}

	.card-cont-wrap img {
		max-width: 300px;
	}

	.card-wrap {
		padding: 15px;
	}

	.footer .logo-section img {
		width: 165px;
	}
}
